<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camionnette365 Web App: Index</title>
</head>
<body>
    <h1>Camionnette365 Web App</h1>
    <h2>Welcome {{ user.get("name") }}!</h2>

    <ul>

      <li><a href='/onenote'>Dump OneNote</a></li>
      <li><a href='/onedrive'>Dump OneDrive</a></li>
      <li><a href='/mail'>Dump Mail</a></li>
      <li><a href='/oneall'>Dump All</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>

    <hr>
    <footer style="text-align: right">Powered by Identity Web {{ version }}</footer>
</body>
</html>

